@{ Layout = null; }
@using MVC.ViewModels
@model EmployeeListViewModel

<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width" />
<title>EmployeeListView</title>
</head>

<body>
    <div style="text-align:right"> Hello, @Model.UserName <a href="/Authentication/Logout">Logout</a></div>
	<hr />
	<div>
		<table border="1">
			<tr>
				<th>Employee Name</th>
				<th>Salary</th>
			</tr>
            @foreach (var item in Model.Employees)
            {
<tr>
	<td>@item.EmployeeName</td>
	<td style="background-color: @item.SalaryColor;">@item.Salary</td>
</tr>
            }
		</table>
	</div>
</body>

</html>